In [2]:
import pandas as pd
import numpy as np

In [3]:

dfs = pd.read_excel(r'C:\Users\Jagatheesh\OneDrive\Desktop\Heriot_Watt_University_Msc_Data_Science\Data_Viz_CW2\Cost_of_living_crisis_UK_Storyboard\Resources\DataSet\Food.xlsx', sheet_name=['Indices', 'Growth Rates', 'Contributions','Sample sizes','Weights'])

# Access individual dataframes by sheet name
df_sheet1 = dfs['Indices']
df_sheet2 = dfs['Growth Rates']
df_sheet3 = dfs['Contributions']
df_sheet4 = dfs['Sample sizes']
df_sheet5 = dfs['Weights']

In [4]:
df_sheet2

,Online weekly price changes for food & drink items: weekly growth rates,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,%
1,Category,Item,07-06-2020,14-06-2020,21-06-2020,28-06-2020,05-07-2020,12-07-2020,19-07-2020,26-07-2020,...,25-04-2021,02-05-2021,09-05-2021,16-05-2021,23-05-2021,30-05-2021,06-06-2021,13-06-2021,20-06-2021,27-06-2021
2,Aggregated,Aggregated,:,0,-0.1,-0.1,-0.1,-0.3,-0.2,-0.1,...,0,0,0.1,-0.1,0.1,-0.2,-0.1,-0.1,0,0
3,Beer,Aggregated,:,-0.3,-0.1,0,-0.1,0.2,0,0,...,0,-0.1,0,0,-0.3,0.1,-0.2,0,0,-0.1
4,,Lager beer,:,-0.4,-0.2,0,-0.1,0.3,0.1,0.1,...,0,-0.2,-0.1,0,-0.3,0.1,-0.2,0,0,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,,Sparkling wine,:,-0.9,4.5,-0.6,1.4,-0.4,0.6,-0.2,...,1,0,0.9,0.4,0.2,-0.7,0.1,0.7,0.1,-0.6
157,,White wine,:,-0.4,-0.2,-0.1,1,-0.1,0.1,0.1,...,0.7,0.2,0.4,0,0,-0.2,0.2,0.1,0.1,0.1
158,(Office for National Statistics),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,(: not available),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,(Out of stock products have been removed where...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_sheet1

,Online weekly price changes for food & drink items: weekly indices,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Week 1 = 100
1,Category,Item,07-06-2020,14-06-2020,21-06-2020,28-06-2020,05-07-2020,12-07-2020,19-07-2020,26-07-2020,...,25-04-2021,02-05-2021,09-05-2021,16-05-2021,23-05-2021,30-05-2021,06-06-2021,13-06-2021,20-06-2021,27-06-2021
2,Aggregated,Aggregated,100,100,99.9,99.8,99.7,99.4,99.3,99.2,...,98.7,98.7,98.8,98.7,98.8,98.6,98.5,98.4,98.4,98.4
3,Beer,Aggregated,100,99.7,99.6,99.6,99.5,99.7,99.7,99.8,...,99.5,99.3,99.3,99.3,99,99.1,98.9,98.9,98.9,98.8
4,,Lager beer,100,99.6,99.5,99.5,99.4,99.7,99.8,99.8,...,99.4,99.3,99.2,99.2,98.9,99,98.8,98.8,98.8,98.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,,Sparkling wine,100,99.1,103.5,102.9,104.3,104,104.6,104.4,...,101.4,101.4,102.2,102.7,102.8,102.1,102.3,103,103.1,102.5
157,,White wine,100,99.6,99.4,99.3,100.4,100.3,100.4,100.5,...,99,99.2,99.6,99.6,99.6,99.3,99.6,99.7,99.8,99.9
158,(Office for National Statistics),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,(: not available),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,(Out of stock products have been removed where...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN