In [1]:
import pandas as pd
import numpy as np

In [34]:
dfs = pd.read_csv(r'C:\Users\Jagatheesh\OneDrive\Desktop\Heriot_Watt_University_Msc_Data_Science\Data_Viz_CW2\Cost_of_living_crisis_UK_Storyboard\Resources\DataSet\HousePriceIndex.csv')
pd.options.display.float_format = '{:.2f}'.format

In [36]:
dfs['year']=dfs['Date'].apply(lambda x:x[-4:])
dfs=dfs[dfs['year'].isin(['2020','2021','2022'])]
dfs[['RegionName','AveragePrice']].groupby('RegionName').mean().sort_values(by='AveragePrice',ascending=False)

                        AveragePrice
RegionName
Kensington and Chelsea    1331323.76
City of Westminster        962249.95
Camden                     844639.25
City of London             810523.72
Hammersmith and Fulham     746377.81
...                              ...
Inverclyde                 107507.68
Hyndburn                   107395.11
East Ayrshire              106067.55
Blaenau Gwent              103723.13
Burnley                     97600.94

[421 rows x 1 columns]

In [28]:
dfs['Date'].values[0][-4:]

'2004'